<div class="container">
	<div class="col-md-5">
	    <div class="form-area">  
	        <form role="form">
		        <br style="clear:both">
	            <h3 style="margin-bottom: 25px; text-align: center;">Add Boxer</h3>
				<div class="form-group">
					<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date (yyyy-MM-dd)">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="turnedPro" name="turnedPro" placeholder="Turned Pro (yyyy)">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="birthCity" name="birthCity" placeholder="Birth City">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="wins" name="wins" placeholder="Wins">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="losses" name="losses" placeholder="Losses">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="draws" name="draws" placeholder="Draws">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="noContests" name="noContests" placeholder="No Contests">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="disqualifications" name="disqualifications" placeholder="Disqualifications">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="retired" name="" retired="" placeholder="Retired">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="residenceCity" name="residenceCity" placeholder="Residence City">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="death" name="death" placeholder="Death">
				</div>
	            <div class="form-group">
	           		<textarea class="form-control" type="textarea" id="comments" placeholder="Comments" maxlength="140" rows="7"></textarea>
	                <span class="help-block">You have reached the limit</span>                    
	            </div>	            
		        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
	        </form>
	    </div>
	</div>
</div>